<%- layout("layouts/default-layout") -%>

<%# For SEO %>
<% block("head").append(`
    <meta name="title" content="Shortnx - URL Shortener">
    <meta name="description" content="Shorten your urls with Shortnx. A fast, reliable and easy to use url shortener for sharing and tracking your urls.">
    <meta name="keywords" content="url shortener, link shortener, custom url, free url, link page">
    <meta name="author" content="Shortnx">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="/">
`)%>

<%# Hero %>
<section class="container relative z-[1] page-grid-2_1 pt-36 md:pt-[6.3rem] pb-32 w-full min-h-screen bg-gradient-blur">
    <div class="flex flex-col items-start justify-center gap-5 h-full w-full">
            <span class="left-side gsap-fade-in-up px-5 py-2.5 text-sm sm:text-[0.9rem] text-colorPrimary bg-colorPrimary/5 rounded-full">
                Let's make with simply one click 👈
            </span>
        <h1 class="left-side gsap-fade-in-up relative text-[50px] md:[font-size:_clamp(50px,3.5rem,4.5rem)] xl:text-[4.84rem] font-gelica-black font-bold leading-none">
            Shorten urls made easy
        </h1>
        <p class="left-side gsap-fade-in-up mt-2 max-w-md text-base text-textPrimary/80">
            Shorten, personalize and optimize your links to boost your online presence and grow your business.
        </p>
        <div class="left-side gsap-fade-in-up flex items-center gap-2 p-2 mt-3.5 sm:p-2.5 w-full max-w-[450px] bg-colorSurface shadow-card rounded-full border border-slate-300">
            <i class="icon-link-horizontal1 text-[1.1rem] text-textSecondary ms-3 me-2 -rotate-45"></i>
            <input id="input-url" class="w-full text-[0.9rem] sm:text-base outline-none border-none placeholder:text-[0.9rem] placeholder:select-none" type="text" placeholder="Paste a link to shorten it">
            <button id="btn-shorten" class="p-2.5 bg-colorPrimary text-white rounded-full disabled:pointer-events-none">
                <svg aria-label="spinner" role="status" class="hidden size-6 p-0.5 animate-spin" viewBox="0 0 100 101" width="20px" height="20px" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                          fill="#E5E7EB"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                          fill="currentColor"/>
                </svg>
                <svg aria-label="arrow-right" viewBox="0 0 24 24" width="20px" height="20px" fill="#fff"><path d="M18,12h0a2,2,0,0,0-.59-1.4l-4.29-4.3a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L15,11H5a1,1,0,0,0,0,2H15l-3.29,3.29a1,1,0,0,0,1.41,1.42l4.29-4.3A2,2,0,0,0,18,12Z"/></svg>
            </button>
        </div>
    </div>

    <img class="right-side gsap-fade-in-up md:place-self-end max-w-[510px] w-full h-full object-contain select-none" src="/images/hero2.svg" alt="hero" draggable="false" oncontextmenu="return false">
</section>

<%# Feature %>
<section class="relative flex flex-col px-6 sm:px-16 md:px-24 size-full" >
    <div class="feature-section gsap-fade-in-up container relative flex flex-col items-center pt-16 pb-20 px-6 sm:px-14 md:px-20 bg-colorSurfaceSecondary rounded-2xl sm:rounded-3xl">
        <span class="absolute -top-3.5 left-1/2 -translate-x-1/2 px-5 py-1.5 text-[14px] text-colorPrimary uppercase font-medium tracking-wider bg-colorBackground border border-colorBackground rounded-full">
            Features
        </span>
        <h2 class="mt-3 w-full text-[35px] md:text-[3rem] leading-[1.2] font-semibold text-center">
            Features designed for you
        </h2>
        <p class="mt-3 w-full max-w-[700px] text-base text-center text-textPrimary/80">
            Effortlessly Create, Track and Analyze Every Link in One Place.
        </p>
        <div class="container grid grid-col-1 lg:grid-cols-3 gap-x-10 gap-y-8 place-items-center mt-20 w-full">
            <%- include("../partials/FeatureCard.ejs", {
                cardIcon: "/images/feature_1.svg",
                cardTitle: "Create",
                cardDescription: "Create and manage your links with ease. Make it simple and effective for your audience."
            }) -%>
            <%- include("../partials/FeatureCard.ejs", {
                cardIcon: "/images/feature_2.svg",
                cardTitle: "Track",
                cardDescription: "Track and analyze your links in real-time. Get insights and make informed decisions."
            }) -%>
            <%- include("../partials/FeatureCard.ejs", {
                cardIcon: "/images/feature_3.svg",
                cardTitle: "Share",
                cardDescription: "Share your links on popular platforms. Connect with your audience."
            }) -%>
        </div>
    </div>
</section>

<%# Feature 1 %>
<section class="container relative z-[1] page-grid-2_1 py-20 bg-gradient-blur before:rotate-y-180">
    <img class="right-side gsap-fade-in-up md:place-self-start max-w-[490px] w-full h-full object-contain select-none"
         src="/images/f_section_1.svg" alt="feature_1"
         draggable="false"
         oncontextmenu="return false"
    >
    <div class="left-side gsap-fade-in-up flex flex-col items-start justify-center gap-5 h-full w-full">
        <span class="text-[14px] text-colorPrimary uppercase font-medium tracking-wider">Boost your links</span>
        <h2 class="text-[35px] md:text-[3rem] leading-[1.2] font-bold">One page for every link you need</h2>
        <p class="mb-2 text-base text-textPrimary/80">Bring all your links together in one customizable, branded space highlighting everything you have to offer. Perfect for creators, entrepreneurs, and businesses looking to grow.</p>
    </div>
</section>

<%# Feature 2 %>
<section class="container relative z-[1] page-grid-2_1 pt-5 pb-20 bg-gradient-blur">
    <div class="left-side gsap-fade-in-up order-2 md:order-1 flex flex-col items-start justify-center gap-5 h-full w-full">
        <span class="text-[14px] text-colorPrimary uppercase font-medium tracking-wider">Insights from Audience</span>
        <h2 class="text-[35px] md:text-[3rem] leading-[1.2] font-bold">Detailed analytics of your links</h2>
        <p class="mb-2 text-base text-textPrimary/80">Monitor every click and interaction on your links in real-time. Gain the insights you need to optimize your strategy and grow your reach.</p>
    </div>
    <img class="right-side gsap-fade-in-up order-1 md:order-2 md:place-self-end max-w-[490px] w-full h-full object-contain select-none"
         src="/images/f_section_2.svg" alt="feature_2"
         draggable="false"
         oncontextmenu="return false"
    >
</section>

<%# CTA %>
<section class="container flex justify-center py-14 lg:px-28 w-full">
    <div class="cta-container relative overflow-hidden flex flex-col justify-center items-center gap-7 px-8 sm:px-20 md:px-24 py-14 sm:py-20 text-white max-w-screen-lg w-full bg-[#0a1129] lg:rounded-3xl shadow-black/10 shadow-sm">
        <h2 class="relative z-[2] text-[1.5rem] sm:text-[1.9rem] md:text-4xl text-center text-white font-medium leading-[1.25] w-full max-w-[48rem]">
            Ready to boost your online presence and grow your business with our link shortener?
        </h2>
        <%- include("../partials/Button.ejs", {
            btnType: "link",
            btnVariant: "primary",
            btnClassnames: "relative z-[2] min-w-40",
            btnChildren: "Sign Up",
            btnHref: "/auth/signup"
        }) -%>
    </div>
</section>

<%- include("../partials/CookieConsent.ejs") %>

<% block("scripts").append(`
<script>
    const inputUrl = document.querySelector("#input-url");
    const spinner = document.querySelector("[aria-label='spinner']");
    const arrowRight = document.querySelector("[aria-label='arrow-right']");
    const btnShorten = document.querySelector("#btn-shorten");
    const modal = new ShareModal();
    const toast = new Toast();

    inputUrl.addEventListener("keypress", (e) => {
        if (e.key === "Enter") {
            e.preventDefault();
            btnShorten.click();
        }
    });

    btnShorten.addEventListener("click", async () => {
        const url = inputUrl.value;
        if (!url) {
            toast.showToast("Please enter a valid url", toast.types.error);
            return;
        }

        spinner.classList.toggle("hidden", false);
        arrowRight.classList.toggle("hidden", true);
        btnShorten.disabled = true;

        try {
            const response = await fetch("/api/short-url/create", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ url })
            });
            const data = await response.json();
            if (!data.success) {
                toast.showToast(data.message, toast.types.error);
                return;
            }
            inputUrl.value = "";
            modal.showModal(data.data.shortenUrl);

        } catch (error) {
            toast.showToast(error.message, toast.types.error);
        } finally {
            spinner.classList.toggle("hidden", true);
            arrowRight.classList.toggle("hidden", false);
            btnShorten.disabled = false;
        }
    });


    // animation
    function animateOnVisible(target, animation, threshold = 0.3) {
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    gsap.to(entry.target, animation);
                    observer.unobserve(entry.target);
                }
            });
        }, { threshold });
        target.forEach(el => observer.observe(el));
    }

    animateOnVisible(document.querySelectorAll(".left-side"), {
        y: 0,
        opacity: 1,
        duration: 0.5,
        stagger: 0.1,
        ease: "easeInOut"
    });

    animateOnVisible(document.querySelectorAll(".right-side"), {
        y: 0,
        opacity: 1,
        duration: 0.5,
        ease: "easeInOut"
    });

    animateOnVisible(document.querySelectorAll(".feature-section"), {
        y: 0,
        opacity: 1,
        duration: 0.5,
        ease: "easeInOut"
    }, 0.2);

</script>
`) %>