<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="<%= meta.title || 'Redirecting...' %>">
    <meta property="og:description" content="<%= meta.description || 'You are being redirected.' %>">
    <meta property="og:image" content="<%= meta.image || '/default-thumbnail.jpg' %>">
    <meta property="og:url" content="<%= url %>">
    <title><%= title || "URL Shortener" %></title>
</head>
<body>
<p>Redirecting...</p>
<script>
    window.onload = () => {
        window.location.replace("<%= url %>");
    }
</script>
</body>
</html>