<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- block("head").toString() %>
    <link rel="stylesheet" href="/output.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <title><%= title || "URL Shortener" %></title>
</head>
<body>
<%- include("partials/navbar.ejs") %>
<section class="relative flex flex-col size-full before:absolute before:size-full before:bg-noise before:bg-no-repeat before:bg-center before:bg-cover before:opacity-50 before:blur">
    <%- body -%>
</section>
<%- block("footer").toString() %>
<%- block("scripts").toString() %>
</body>
</html>