<%# Button Component %>
<%

const styles = {
    "primary": "relative px-4 py-2.5 text-sm text-white text-center bg-colorPrimary rounded-lg cursor-pointer transition-shadow hover:shadow-lg hover:shadow-colorAccent/25 disabled:pointer-events-none disabled:bg-colorPrimaryDark",
    "secondary": "relative px-4 py-2.5 text-sm text-center text-colorPrimary border border-colorPrimary rounded-lg cursor-pointer transition-colors disabled:pointer-events-none",
    "tertiary": "relative text-base text-center text-colorPrimary cursor-pointer before:absolute before:bottom-0 before:w-0 before:h-0.5 before:bg-colorPrimary before:rounded-full before:transition-all hover:before:w-full disabled:pointer-events-none",
};

%>

<%
var id = id || "";
var type = type || 'button';
var classNames = classNames || '';
var variant = variant || 'primary';
var disabled = disabled || false;
var href = href || "#";
var onClick = onClick || "";
%>

<% if (type === "button") { %>
    <button class="<%= styles[variant] %> <%= classNames %>" id="<%= id %>"
            <%= disabled ? 'disabled' : '' %>
            onclick="<%= onClick %>">
        <%- children %>
    </button>
<% } else if (type === "link") { %>
    <a id="<%= id %>" class="<%= styles[variant] %> <%= classNames %>"
       href="<%= href %>">
        <%- children %>
    </a>
<% } %>
