<%# Button Component %>
<%

const btnStyles = {
    "primary": "relative text-[0.9rem] text-white px-4 py-2.5 bg-colorPrimary rounded-lg cursor-pointer transition-shadow hover:shadow-lg hover:shadow-colorPrimary/15 disabled:pointer-events-none",
    "secondary": "relative text-[0.9rem] text-gray-700 px-4 py-2.5 bg-secondary rounded-lg cursor-pointer transition-colors hover:bg-secondary-dark disabled:pointer-events-none",
    "tertiary": "relative text-base text-colorPrimary cursor-pointer before:absolute before:bottom-0 before:w-0 before:h-0.5 before:bg-colorPrimary before:rounded-full before:transition-all hover:before:w-full disabled:pointer-events-none",
};

%>

<%
var btnId = btnId || "";
var btnType = btnType || 'button';
var btnClassnames = btnClassnames || '';
var btnVariant = btnVariant || 'primary';
var btnDisabled = btnDisabled || false;
var btnHref = btnHref || "#";
var btnOnClick = btnOnClick || "";
%>

<% if (btnType === "button") { %>
    <button class="<%= btnStyles[btnVariant] %> <%= btnClassnames %>" id="<%= btnId %>"
            <%= btnDisabled ? 'disabled' : '' %>
            onclick="<%= btnOnClick %>">
        <%- btnChildren %>
    </button>
<% } else if (btnType === "link") { %>
    <a class="<%= btnStyles[btnVariant] %> <%= btnClassnames %>"
       href="<%= btnHref %>">
        <%- btnChildren %>
    </a>
<% } %>
