<%
var cardClassnames = cardClassnames || "";
%>
<div class="flex flex-col gap-2 items-center justify-start px-5 py-12 h-full max-w-sm w-full bg-colorSurface rounded-3xl shadow-card <%= cardClassnames %>">
    <img src="<%= cardIcon %>" alt="<%= cardTitle %>" class="size-16 object-contain">
    <h3 class="mt-6 text-xl font-semibold text-textPrimary"><%= cardTitle %></h3>
    <p class="text-[0.9rem] text-textSecondary text-center max-w-[85%]"><%= cardDescription %></p>
</div>