<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%- block("head").toString() %>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/output.css">
    <title><%= title || "Shortnx - URL Shortener" %></title>
</head>
<body>
<%# Navbar %>
<nav class="flex justify-between items-center px-6 py-5">
    <a href="/">
        <img class="sm:hidden size-9 sm:size-10" src="/images/icon.svg" alt="logo">
        <img class="hidden sm:flex h-6 md:h-7 object-contain" src="/images/logo.svg" alt="logo">
    </a>
    <div class="flex items-center gap-5">
        <button class="relative flex justify-center items-center size-8 text-textSecondary border border-slate-200 rounded-full">
            <i class="icon-bell text-[1.3rem] text-slate-400"></i>
        </button>
        <button class="flex items-center gap-2 cursor-pointer">
            <img class="size-8 object-cover rounded-full" alt="<%= user.name %>" src="<%= user.picture %>">
            <span class="hidden sm:block text-sm text-textPrimary"><%= user.name %></span>
            <i class="icon-caret-down-md text-textSecondary"></i>
        </button>
    </div>
</nav>

<div class="flex h-screen w-screen overflow-hidden">

    <%# Sidebar %>
    <div class="flex flex-col gap-2 pt-6 pb-5 px-3 sm:min-w-[14rem]">
        <% var tabs = [
            {
                id: "overview",
                active: true,
                icon: "icon-apps",
                label: "Overview"
            },
            {
                id: "analytics",
                active: false,
                icon: "icon-chart-line",
                label: "Analytics"
            },
            {
                id: "links",
                active: false,
                icon: "icon-link-horizontal1",
                label: "Links"
            },
            {
                id: "pages",
                active: false,
                icon: "icon-file",
                label: "Pages"
            },
            {
                id: "settings",
                active: false,
                icon: "icon-settings",
                label: "Settings"
            }
        ] %>
        <% tabs.forEach(tab => { %>
            <button data-tab-id="<%= tab.id %>" class="tab-default <% if (tab.active) { %> tab-active <% } else { %> tab-inactive <% } %>">
                <i class="<%= tab.icon %>"></i>
                <span class="hidden sm:block text-[0.9rem] font-medium"><%= tab.label %></span>
            </button>
        <% }); %>
    </div>

    <%# Content %>
    <div id="content" class="relative flex-1 h-full bg-[#fff] overflow-auto sm:border-t sm:border-l sm:border-slate-300 sm:rounded-2xl">
    </div>

</div>
<script src='/Toast.js'></script>
<script>
    const tabs = document.querySelectorAll(".tab-default");

    tabs.forEach(tab => {
        tab.addEventListener("click", () => {
            if (!tab.classList.contains("tab-active") && window.history.replaceState) {
                tabs.forEach(t => {
                    t.classList.remove("tab-active");
                    t.classList.add("tab-inactive");
                });
                tab.classList.remove("tab-inactive");
                tab.classList.add("tab-active");
                loadContent(tab.getAttribute("data-tab-id"));
            }
        });
    });

    async function loadContent(tab) {
        const content = document.getElementById("content");
        // Backward compatibility (TODO: IDK much about this right now, need to do some research)
        if (window.history.replaceState) {
            window.history.replaceState(null, null, `/u/dashboard?tab=${tab}`);
        } else {
            window.location.hash = `tab=${tab}`;
        }
        content.innerHTML = await fetch(`/u/tabs/${tab}`).then(res => res.text());
    }

    // Load the selected tab
    (function () {
        const urlParams = new URLSearchParams(window.location.search);
        const tab = urlParams.get("tab");
        // Highlight the respective tab
        loadContent(tab || "overview");
        tabs.forEach(t => {
            if (t.getAttribute("data-tab-id") === tab) {
                t.classList.remove("tab-inactive");
                t.classList.add("tab-active");
            } else {
                t.classList.remove("tab-active");
                t.classList.add("tab-inactive");
            }
        });
    })();



</script>
<%- block("scripts").toString() %>
</body>
</html>