<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%- block("head").toString() %>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/output.css">
    <title><%= title || "Shortnx - URL Shortener" %></title>
</head>
<body>

<nav class="sticky sm:hidden top-0 left-0 flex items-center justify-between px-6 py-3 w-full bg-[#f5f5f5]">
    <i id="btn-toggle-menu" class="icon-menu-alt-04 text-2xl text-textPrimary cursor-pointer"></i>
    <a class="mx-auto" href="/">
        <img class="h-4 object-contain select-none" draggable="false" src="/images/logo.svg" alt="logo">
    </a>
    <img class="size-7 object-cover rounded-full cursor-pointer" alt="<%= user.name %>" src="<%= user.picture %>">
</nav>

<div class="relative flex h-screen w-screen bg-[#f5f5f5] overflow-hidden">

    <%# Sidebar %>
    <div id="sidebar-container" class="hidden relative sm:block">
        <div id="sidebar" class="sidebar">

            <div class="flex justify-between items-center py-4">
                <a href="/">
                    <img class="h-5 object-contain select-none" draggable="false" src="/images/logo.svg" alt="logo">
                </a>
                <img class="hidden sm:block size-7 object-cover rounded-full cursor-pointer" alt="<%= user.name %>" src="<%= user.picture %>">
            </div>

            <div class="flex flex-col gap-1.5 mt-8 overflow-auto">
                <% var tabs = [
                    {
                        id: "links",
                        active: true,
                        icon: "icon-link-horizontal1",
                        label: "Links"
                    },
                    {
                        id: "pages",
                        active: false,
                        icon: "icon-file",
                        label: "Pages"
                    },
                    {
                        id: "analytics",
                        active: false,
                        icon: "icon-chart-line",
                        label: "Analytics"
                    },
                    {
                        id: "settings",
                        active: false,
                        icon: "icon-settings",
                        label: "Settings"
                    }
                ] %>
                <% tabs.forEach(tab => { %>
                    <button data-tab-id="<%= tab.id %>" class="tab-default <% if (tab.active) { %> tab-active <% } else { %> tab-inactive <% } %>">
                        <i class="<%= tab.icon %>"></i>
                        <span class="text-[0.9rem] font-medium"><%= tab.label %></span>
                    </button>
                <% }); %>
            </div>

        </div>
    </div>
    <%# Tab Content %>
    <div id="content" class="relative flex-1 h-full mt-2 bg-colorBackground overflow-auto sm:border-t sm:border-l sm:border-slate-200 sm:rounded-2xl">

    </div>

</div>
<script src='/Toast.js'></script>
<script src='/js/dashboard/index.min.js'></script>
<%- block("scripts").toString() %>
</body>
</html>