<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- block("head").toString() %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/output.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title><%= title || "Shortnx - URL Shortener" %></title>
</head>
<body>

<%- include("../partials/Navbar.ejs") %>
<div class="relative flex flex-col w-full">
    <%- body -%>
</div>

<%- include("../partials/Footer.ejs") %>
<script src="/ShareModal.js"></script>
<script src='/Toast.js'></script>
<%- block("scripts").toString() %>
</body>
</html>