<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- block("head").toString() %>
    <link rel="stylesheet" href="/css/output.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <title><%= title || "URL Shortener" %></title>
</head>
<body>

<%- include("../partials/Navbar.ejs") %>
<div class="relative flex flex-col w-full">
    <%- body -%>
</div>

<%- include("../partials/Footer.ejs") %>
<script src="/ShareModal.js"></script>
<script src='/Toast.js'></script>
<%- block("scripts").toString() %>
</body>
</html>